@import 'tailwindcss';

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 80px; /* wynika z class="h-20" w Header.astro */
}

.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition:
        opacity 0.8s ease,
        transform 0.8s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}
